@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300');
@import "components/avatar.css";
@import "components/button.css";
@import "components/card.css";

body {
  background-color: #FAFBE7;
}

h1, h2, h3 {
  color: #CC262A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h4, p {
  color: #7D7D7D;
}

p {
  opacity: 0.8;
}

ul > li {
  margin: 10px 20px;
}

.link-social {
  color: #4C4C4C;
  opacity: 0.7;
  transition: 0.3s;
  text-decoration: none;
}

.link-social:hover {
  opacity: 1;
  text-decoration: none;
}

.link-social:visited {
  color: #4C4C4C;
  opacity: 0.7;
  text-decoration: none;
}